.container {
    padding: 0 20px;
    margin: 0 auto;

    &--header,
    &--intro {
        max-width: 1840px;
    }

    &--products,
    &--cart,
    &--footer {
        max-width: 1180px;
    }

    &--newsletter {
        max-width: 1720px;
    }
}
