.price__inner {
    display: flex;
    padding: 30px 0 3px;
    position: relative;

    & input[type="range"]::-webkit-slider-thumb {
        width: 12px;
        height: 12px;
        margin-top: -12px;
        background-color: $red;
        -webkit-appearance: none;
        appearance: none;
    }
}

.price__output {
    width: 40px;
    @include font("Josefin Sans", 400, 12px, 1, $gray);
    position: absolute;
    top: 0;

    &--min {
        left: 0;
    }

    &--max {
        right: 0;
    }
}

.price__item {
    width: 50%;
    height: 2px;
    background-color: $white-one;
}
