$black: #000;
$white: #fff;
$white-one: #eeeeee;
$white-two: #f1f2f3;
$gray: #444444;
$gray-one: #999999;
$red: #ff8e8e;
$green: #95ccb5;

$large: 1470px;
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;
$small: 320px;
